/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  width: 300px;
  color: white;
  background-color: #060606;
  text-align: center;
  margin: 10px;
}

.mat-drawer-content{
  height: 100vh !important;
  background-color: white !important;
  color: black;
  padding: 20px;
}

.mat-drawer.mat-drawer-side{
  width: 200px;
}